  body {
    background-color: lightblue;
  }

  p {
    color: rgb(100, 30, 90);
    background: sandybrown;

    border: 12px dashed orangered;
    padding: 40px;
    margin: 50px;
  }


  h1 {
    color: red;
    font-size: 90px;
    margin-top: 0;
  }

  img {

    max-width: 200px;
  }
