* {
  box-sizing:border-box;
}

body {
  margin: 0;
}

.main-container {
  background-color:rgb(196, 189, 232);
  width:100%;
  height:100vh;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.top-row {
  height:20%;
  display:flex;
  justify-content:space-evenly;
  gap: 10px;
}

.top-item {
  background-color:rgb(230, 160, 120);
  width:100%;
}

.bottom-row {
  height: 80%;
  display:flex;
  gap:10px;
}

.left-half {
  background-color:rgb(217, 176, 222);
  width:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.center-object {
  background-color:rgb(231, 86, 66);
  width:20%;
  height:20%;
}

.right-half {
  width:50%;
  display:flex;
  flex-direction: column;
  gap:10px;
}

.column-item {
  background-color:rgb(221, 204, 231);
  height:25%;
}
